@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic");

/* VARIABLES */

$opacity_from: 0.0;
$opacity_to: 1.0;
$opacity_duration: 3s;

$background_opacity: 0.7;
$color_v1: #ffffff;
$color_v2: #ffff00;
$color_v3: #00ffff;
$color_v4: #00ff00;
$color_duration: 10s;

$color: #111111;
$color_secondary: #333333;

/* BODY */

body {
  /* animation-name followed by duration in seconds*/
  /* you could also use milliseconds (ms) or something like 2.5s */
  animation: opacitychange $opacity_duration, colorchange $color_duration infinite;
  -webkit-animation: opacitychange $opacity_duration, colorchange $color_duration infinite; /* Chrome and Safari */
  font-family: 'Open Sans', Helvetica, sans-serif;
}

@keyframes opacitychange
{
  0%    {opacity: $opacity_from;}
  100%  {opacity: $opacity_to;}
}

@-webkit-keyframes opacitychange /* Safari and Chrome - necessary duplicate */
{
  0%    {opacity: $opacity_from;}
  100%  {opacity: $opacity_to;}
}


@keyframes colorchange
{
  0%   {background: rgba($color: $color_v1, $alpha: $background_opacity);}
  25%  {background: rgba($color: $color_v2, $alpha: $background_opacity);}
  50%  {background: rgba($color: $color_v3, $alpha: $background_opacity);}
  75%  {background: rgba($color: $color_v4, $alpha: $background_opacity);}
  100% {background: rgba($color: $color_v1, $alpha: $background_opacity);}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
  0%   {background: rgba($color: $color_v1, $alpha: $background_opacity);}
  25%  {background: rgba($color: $color_v2, $alpha: $background_opacity);}
  50%  {background: rgba($color: $color_v3, $alpha: $background_opacity);}
  75%  {background: rgba($color: $color_v4, $alpha: $background_opacity);}
  100% {background: rgba($color: $color_v1, $alpha: $background_opacity);}
}

/* HR */

hr {
  margin: 0 0 50px 0;
  display: block;
  border: none;
  height: 1px;
  animation: gradientchange $color_duration infinite;
  -webkit-animation: gradientchange $color_duration infinite; /* Chrome and Safari */
}

@keyframes gradientchange
{
  0%   {background: linear-gradient(to right, $color_v1, $color, $color_secondary, $color, $color_v1);}
  25%  {background: linear-gradient(to right, $color_v2, $color, $color_secondary, $color, $color_v2);}
  50%  {background: linear-gradient(to right, $color_v3, $color, $color_secondary, $color, $color_v3);}
  75%  {background: linear-gradient(to right, $color_v4, $color, $color_secondary, $color, $color_v4);}
  100% {background: linear-gradient(to right, $color_v1, $color, $color_secondary, $color, $color_v1);}
}

@-webkit-keyframes gradientchange /* Safari and Chrome - necessary duplicate */
{
  0%   {background: linear-gradient(to right, $color_v1, $color, $color_secondary, $color, $color_v1);}
  25%  {background: linear-gradient(to right, $color_v2, $color, $color_secondary, $color, $color_v2);}
  50%  {background: linear-gradient(to right, $color_v3, $color, $color_secondary, $color, $color_v3);}
  75%  {background: linear-gradient(to right, $color_v4, $color, $color_secondary, $color, $color_v4);}
  100% {background: linear-gradient(to right, $color_v1, $color, $color_secondary, $color, $color_v1);}
}

/* BUTTON */

@keyframes sheen
{
  0%    {transform: skewY(-45deg) translateX(0);}
  100%  {transform: skewY(-45deg) translateX(12.5em);}
}

@-webkit-keyframes sheen  /* Safari and Chrome - necessary duplicate */
{
  0%    {transform: skewY(-45deg) translateX(0);}
  100%  {transform: skewY(-45deg) translateX(12.5em);}
}

.button {
  width: 6em;
  margin: 1em;
  padding: 0.75em 2em;
  text-align: center;
  text-decoration: none;
  color: $color;
  border: 2px solid $color;
  font-size: 1.5em;
  display: inline-block;
  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;

  &:before {
    content: '';
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
  }

  &:hover {
    background-color: $color;
    color: #fff;
    border-bottom: 4px solid darken($color, 10%);

    &:before {
      transform: skewX(-45deg) translateX(13.5em);
      transition: all 0.5s ease-in-out;
    }

  }

  &.fixed {
    background-color: $color;
    color: #fff;
    animation: opacitychange $opacity_duration;
    -webkit-animation: opacitychange $opacity_duration;
  }

}

@media only screen and (max-width: 768px) {

  .button {
    width: 5.5em;
    margin: 0.5em;
    font-size: 1.3em;
  }

}

/* CONTAINER */

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

  /* H1 */

  .container h1 {
    font-size: 5em;
    font-weight: bold;
    margin-bottom: -0.3em;
  }

    @media only screen and (max-width: 768px) {

      .container h1 {
        font-size: 2.8em;
      }

    }

  /* H2 */

  .container h2 {
    font-size: 2em;
    font-weight: normal;
    margin-bottom: 2em;
  }

  @media only screen and (max-width: 768px) {

    .container h2 {
      font-size: 1.5em;
      margin-bottom: 1.5em;
    }

  }

  /* P */

  .container p {
    font-size: 1.5em;
    margin-bottom: 0;
  }

  @media only screen and (max-width: 768px) {

    .container p {
      font-size: 1.3em;
      margin-bottom: 0.5em;
      margin-top: -1.5em;
    }

  }
